/* ============= Page Styles ============= */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item-2 {
  margin-right: auto;
}
/*
.item-1 {
  flex-grow: 4;
}


.item-3 {
  flex-grow: 2;
} */
